<style>
body {
	color: #566787;
	background: #f5f5f5;
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
}
body > .container {
  padding-top: 40px;
  background-color: white;
}
.table-responsive {
    margin: 30px 0;
}

.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	border-radius: 3px;
	min-width: 1000px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
	padding-bottom: 15px;
	background: #435d7d;
	color: #fff;
	padding: 16px 30px;
	min-width: 50%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
	font-size: 24px;
}
.table-title-th {        
	padding-bottom: 15px;
	background: #778899;
	color: #fff;
	padding: 16px 30px;
	min-width: 40%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
	font-size: 18px;
}
.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}
tfoot {
	padding-bottom: 15px;
	background: LightSlateGray;
	color: #fff;
	padding: 16px 30px;
	min-width: 40%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
	font-size: 18px;
}
      dl {
        width: 100%;
        overflow: hidden;
        {# background: #dbe0da; #}
      }
.qr {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.35;
  min-height: 40px;
  padding: 10px;
}
.aw {
  font-size: 16px; 
  font-weight: 400; 
  line-height: 1.35;
  color: #000000;
  padding: 10px;
  white-space: pre-line;
}
.qr-media {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2%;

}
textarea {
  box-sizing: border-box;
  max-height: 160px; /* optional but recommended */
  min-height: 100px;
  min-width: 20%;
  max-width: 100%;
}
.tall {
max-width: 10%;
text-align: right;
}

.container {
   display: flex;
   justify-content: space-between;
}
.left-col {
   width: 78%;
}
.right-col {
   margin-top: 40px;
   width: 20%;
}

</style>
<script>
jQuery(document).ready(function () {
    jQuery('#rapporter').DataTable({
        fixedHeader: {
            header: true,
            headerOffset: 35,
        },
		colReorder: false,
        paging: true,
        ordering: true,
		order: [ 0, 'desc' ],
        info: false,
		language: {
			search: "Søk:"
		},
        columnDefs: [
            {
                target: 4,
                render: DataTable.render.number(null, null, 0,),
            },
        ],
    });
});
         jQuery(document).ready(function(){
            jQuery('[data-toggle = "tooltip"]').tooltip();
         });
</script>
{% if rapport is empty %}
	<div class="container-xl">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-4">
							<h2><b>Rapportskjemaer</b></h2>
						</div>
							<form method="POST" action="?page=UKMstimuleringsadmin_rapporter">
								<input type="hidden" id="fetchreports" name="fetchreports" value="what">
								<button type="submit" class="btn btn-primary">Hent nye</button>
							</form>
					</div>
				</div>
				{% if currentuserid == '1' %}
					<table id="rapporter" class="table table-striped table-hover" style="width:100%">
						<thead>
							<tr>
								<th>Innlevert</th>
								<th>Fylke</th>
								<th>Organisasjonsnavn</th>
								<th>Navn på prosjektet</th>
								<th>Innvilget Beløp</th>
								<th>Prosjektansvarlig</th>
							</tr>
						</thead>
						<tbody>
							{% for rapport in rapporter %}
								<tr onclick="window.location='?page=UKMstimuleringsadmin_rapporter&rapportid={{ rapport.jotformID }}'">
									<td>{{ rapport.innlevert }}</td>
									<td>{{ rapport.fylke }}</td>
									<td>{{ rapport.organisasjonsnavn }}</td>
									<td>{{ rapport.prosjekt_navn }}</td>
									<td>{{ rapport.tall_innvilget_stotte }}</td>
									<td>{{ rapport.prosjekt_ansvarlig }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>        
	</div>

{% else %}
	<div class="container-xl pt-5">
		{% if currentuserid == '1' %}
{% set reports = '' %}
			<div class="row">
				<div class="qr col-lg-4">Innlevert</div>
				<div class="aw col-lg-6">{{ rapport.innlevert|date('d/m/Y \\k\\l\\.H:i') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Unik ID Nummer</div>
				<div class="aw col-lg-6">{{ rapport.jotformID }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Fylke</div>
				<div class="aw col-lg-6">{{ rapport.fylke }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Navn på prosjektet</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_navn }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Innvilget støtte fra UKM Norge</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_innvilget_stotte|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Organisasjonsnavn</div>
				<div class="aw col-lg-6">{{ rapport.organisasjonsnavn }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Prosjektansvarlig</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_ansvarlig }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Mobilnummer</div>
				<div class="aw col-lg-6">{{ rapport.mobilnr }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Epost</div>
				<div class="aw col-lg-6">{{ rapport.epost }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Når ble prosjektet startet?</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_start|date('d/m/Y') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Når ble prosjektet avsluttet?</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_slutt|date('d/m/Y') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Oppsummering. Denne teksten kan bli brukt som ingress i UKM Norges eksempelsamling</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_oppsummering }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Hvilke mål hadde prosjektet?</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_maal }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Beskriv hvordan prosjektet oppfylte målene som var satt</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_oppfylte_maal }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Hvilke aktiviteter inngikk i prosjektet?</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_aktiviteter }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Beskriv hvordan disse aktivitetene ble gjennomført</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_aktiviteter_beskrivelse }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Hvilke målgrupper hadde prosjektet</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_maalgrupper }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Beskriv hvordan dere gikk fram for å treffe disse målgruppene</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_maalgruppe_beskrivelse }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Hvor mange var deltakere?</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_deltakere }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Hvor mange ble berørt av dette i tillegg til deltakerne?</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_deltakere_berort }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">På hvilke måter ble ungdom direkte involvert i prosjektet (Medbestemmelse)</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_ungdom_innvolvert }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Hva er du mest fornøyd med?</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_fornoydmed }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Hva kunne vært gjort annerledes?</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_gjort_annerledes }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Tips til andre UKM-arrangører som vil gjøre noe lignende</div>
				<div class="aw col-lg-6">{{ rapport.prosjekt_tips }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Egenandel søker / kommune</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_egenandel_soker|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Innvilget støtte fra UKM Norge</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_innvilget_stotte|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Innvilget fylkeskommunalt tilskudd</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_innvilget_fylke|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Annen innvilget støtte</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_innvilget_annen|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Annen finansiering</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_annen_finansiering|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Sum inntekter</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_sum_inntekter|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Administrasjon av prosjektet</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_prosjekt_administrasjon |number_format(0,' ',' ')}}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Honorarer</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_honorarer|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Leiekostnader</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_leiekostnader|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Innkjøp av utstyr & rekvisita</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_utstyr_rekvisita|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Reise, overnatting og bespisning</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_reise_overnatting_besp|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Annet</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_annet|number_format(0,' ',' ') }}</div>
			</div>
			{% if rapport.tall_annet_forklar is not empty %}
				<div class="row">
					<div class="qr col-lg-4">Forklar</div>
					<div class="aw col-lg-6">{{ rapport.tall_annet_forklar }}</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="qr col-lg-4">Sum utgifter</div>
				<div class="tall aw col-lg-6">{{ rapport.tall_sum_utgifter|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="aw col-lg-4">Vedlegg</div>

			</div>
			{% if rapport.upload_bilder is not empty %}
				<div class="row">
					<div class="qr col-lg-4">Bilder</div>
					{% set bilder = rapport.upload_bilder|split('\n') %}
					<div class="aw col-lg-6">
						{% for bilde in bilder %}
							<div class="qr-media"><a href="{{ bilde }}">{{ bilde|split('/')|last }}</a></div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
			{% if rapport.upload_presseklipp is not empty %}
				<div class="row">
					<div class="qr col-lg-4">Presseklipp</div>
					{% set presse = rapport.upload_presseklipp|split('\n') %}
					<div class="aw col-lg-6">
						{% for presseklipp in presse %}
							<div class="qr-media"><a href="{{ presseklipp }}">{{ presseklipp|split('/')|last }}</a></div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
			{% if rapport.upload_video is not empty %}
				<div class="row">
					<div class="qr col-lg-4">Video</div>
					{% set videoer = rapport.upload_video|split('\n') %}
					<div class="aw col-lg-6">
						{% for video in videoer %}
							<div class="qr-media"><a href="{{ video }}">{{ video|split('/')|last }}</a></div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
			{% if rapport.upload_rapport is not empty %}
				<div class="row">
					<div class="qr col-lg-4">Rapport / skriftlig dokumentasjon</div>
					{% set reports = rapport.upload_rapport|split('\n') %}
					<div class="aw col-lg-6">
						{% for report in reports %}
							<div class="qr-media"><a href="{{ report }}">{{ report|split('/')|last }}</a></div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
			{% if rapport.upload_regnskap is not empty %}
				<div class="row">
					<div class="qr col-lg-4">Prosjektregnskap</div>
					{% set regnskap = rapport.upload_regnskap|split('\n') %}
					<div class="aw col-lg-6">
						{% for regn in regnskap %}
							<div class="qr-media"><a href="{{ regn }}">{{ regn|split('/')|last }}</a></div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
			{% if rapport.upload_forklaring is not empty %}
			<div class="row">
				<div class="qr col-lg-4">Eventuell forklaring til de vedleggene du har lastet opp</div>
				<div class="aw col-lg-6">{{ rapport.upload_forklaring }}</div>
			</div>
			{% endif %}


				{# {% for upload in uploads %}
					{% if upload.submission_id == rapport.jotformID  %}
						<dt>Vedlegg</dt>
						<dd><a href="{{ upload.url|replace({'http': 'https'}) }}">{{ upload.name }}</a></dd>
					{% endif %}
				{% endfor %}	
				{% if rapport.vedlegg_beskrivelse is not empty %}
					<dt>Beskrivelse av vedleggene</dt>
					<dd>{{ rapport.vedlegg_beskrivelse }}</dd>
				{% endif %} #}


	</div>
	{% endif %}	
{% endif %}	
