<style>
body > .container {
  padding-top: 40px;
  background-color: white;
}
      dl {
        width: 100%;
        overflow: hidden;
        {# background: #dbe0da; #}
      }
dt {
	float: left;
	width: 26%;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.35;
  min-height: 40px;
  margin-bottom: 0;
  position: sticky;
  word-break: break-word;
}
dd {
  width: 60%;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 1.35;
  color: #000000;
  margin-bottom: 10;
  white-space: pre-wrap;
  word-break: break-word;
}

textarea {
  box-sizing: border-box;
  max-height: 160px; /* optional but recommended */
  min-height: 100px;
  min-width: 20%;
  max-width: 100%;
}

.container {
   display: flex;
   justify-content: space-between;
}
.left-col {
   width: 78%;
}
.right-col {
   margin-top: 40px;
   width: 20%;
}

{# .dataTables_length,
.dataTables_wrapper {
  font-size: 1rem;
  select,
  input {
    background-color: #f9f9f9;
    border: 1px solid #999;
    border-radius: 4px;
    height: 3rem;
    line-height: 2;
    font-size: 1rem;
    color: #333;
  }

  .dataTables_length,
  .dataTables_filter {
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-flex;
  }
} #}
</style>
<script>
jQuery(document).ready(function () {
    jQuery('#soknader').DataTable({
        paging: false,
        ordering: true,
        info: false,
		"language": {
			"search": "Søk:"
		}
    });
});
         jQuery(document).ready(function(){
            jQuery('[data-toggle = "tooltip"]').tooltip();
         });
</script>
{% if soknad is empty %}
	<div class="container-xl">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-6">
							<h2><b>Søknadsrunde {{ gjeldenderunde.soknadsrunde_navn|slice(26, 50) }}</b></h2>
						</div>
					</div>
				</div>
				{% if currentuserid == '1' %}
					<table id="soknader" class="table table-striped table-hover" style="width:100%">
						<thead>
							<tr>
								<th>Id</th>
								<th>Fylke</th>
								<th>Organisasjonsnavn</th>
								<th>Navn på prosjektet</th>
								<th>Beløp</th>
								<th>Prosjektansvarlig</th>
								<th>Kommentar</th>
							</tr>
						</thead>
						<tbody>
							{% for soknad in soknader %}
								<tr onclick="window.location='?page=UKMstimuleringsadmin_soknader&soknadid={{ soknad.soknadID }}'">
									<td>{{ soknad.soknadID }}</td>
									<td>{{ soknad.fylke }}</td>
									<td>{{ soknad.organisasjonsnavn }}</td>
									<td>{{ soknad.prosjekt_navn }}</td>
									<td>{{ soknad.belop }}</td>
									<td>{{ soknad.prosjektansvarlig }}</td>
									<td>{% if soknad.fylke_sist_kommentert is empty %}
											Ikke kommentert
										{% else %}
											<h7 style="color: blue;">Lagt inn {{ soknad.fylke_sist_kommentert|date('\\k\\l\\.H:i d/m/Y') }} </h7>
									</td>
										{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<table id="soknader" class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Id</th>
								<th>Fylke</th>
								<th>Organisasjonsnavn</th>
								<th>Navn på prosjektet</th>
								<th>Prosjektansvarlig</th>
							</tr>
						</thead>
						<tbody>
							{% if visfylke.visfylke == 'on' %}
								{% for soknad in soknader %}
									<tr onclick="window.location='?page=UKMstimuleringsadmin_soknader&soknadid={{ soknad.soknadID }}'">
										<td>{{ soknad.soknadID }}</td>
										<td>{{ soknad.fylke }}</td>
										<td>{{ soknad.organisasjonsnavn }}</td>
										<td>{{ soknad.prosjekt_navn }}</td>
										<td>{{ soknad.prosjektansvarlig }}</td>
									</tr>
								{% endfor %}
							{% endif %}	
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>        
	</div>

{% else %}
	<div class="container-xl pt-5">
		{% if visfylke.visfylke == 'on' or currentuserid == '1' %}
			<dl class="row">
				<dt>Innlevert</dt>
				<dd>{{ soknad.innlevert|date('d/m/Y \\k\\l\\.H:i') }}</dd>
				<dt>Unik ID Nummer</dt>
				<dd>{{ soknad.soknadID }}</dd>
				<dt>Beløp de søker UKM Norge om:</dt>
				<dd>{{ soknad.belop }}</dd>
				<dt>Organisasjonsnavn</dt>
				<dd>{{ soknad.organisasjonsnavn }}</dd>
				<dt>Gateadresse</dt>
				<dd>{{ soknad.gateadresse }}</dd>
				<dt>Postnummer</dt>
				<dd>{{ soknad.postnummer }}</dd>
				<dt>Poststed</dt>
				<dd>{{ soknad.poststed }}</dd>
				<dt>Fylke</dt>
				<dd>{{ soknad.fylke }}</dd>
				<dt>Søkers nettside</dt>
				<dd>{{ soknad.nettside }}</dd>
				<dt>Prosjektansvarlig</dt>
				<dd>{{ soknad.prosjektansvarlig }}</dd>
				<dt>Stilling</dt>
				<dd>{{ soknad.stilling }}</dd>
				<dt>Mobilnummer</dt>
				<dd>{{ soknad.mobilnr }}</dd>
				<dt>Epost</dt>
				<dd>{{ soknad.epost }}</dd>
				<dt>Har dere tidligere mottatt støtte fra UKM Norge?</dt>
				<dd>{{ soknad.tidligere }}</dd>
				{% if soknad.tidligere == 'ja' %}
					<dt>Hva har dere mottatt støtte til tidligere?</dt>
					<dd>{{ soknad.tidligere_hva }}</dd>
				{% endif %}
				<dt>Navn på prosjektet</dt>
				<dd>{{ soknad.prosjekt_navn }}</dd>
				<dt>Prosjektet beskrevet med maks 200 tegn. (En kort pitch)</dt>
				<dd>{{ soknad.prosjekt_beskrivelse_kort }}</dd>
				<dt>Samarbeidspartnere</dt>
				<dd>{{ soknad.samarbeidspartnere }}</dd>
				<dt>Målgruppe</dt>
				<dd>{{ soknad.malgruppe }}</dd>
				<dt>Målgruppe alder</dt>
				<dd>{{ soknad.malgruppe_alder }}</dd>
				<dt>Stipulert antall deltakere</dt>
				<dd>{{ soknad.antall_deltakere }}</dd>
				<dt>Oppstartsdato</dt>
				<dd>{{ soknad.oppstartsdato|date('d/m/Y') }}</dd>
				<dt>Rapportdato</dt>
				<dd>{{ soknad.rapportdato|date('d/m/Y') }}</dd>
				<dt>Hva vil dere å oppnå med prosjektet?</dt>
				<dd>{{ soknad.prosjekt_oppnaelse }}</dd>
				<dt>Prosjektbeskrivelse</dt>
				<dd>{{ soknad.prosjekt_beskrivelse_lang }}</dd>
				<dt>På hvilken måte kan prosjektet være til nytte for andre UKM-arrangører?</dt>
				<dd>{{ soknad.prosjekt_nytte }}</dd>
				<dt>UKM Norge</dt>
				<dd>{{ soknad.tall_ukmnorge }}</dd>
				<dt>Søkers egenandel</dt>
				<dd>{{ soknad.tall_egenandel }}</dd>
				<dt>Tilskudd fylkeskomm.</dt>
				<dd>{{ soknad.tall_fylkeskommune }}</dd>
				<dt>Annen finansiering</dt>
				<dd>{{ soknad.tall_annen1 }}</dd>
				{% if soknad.tall_annen1 != '0' or soknad.tall_annen1_forklar !=''  %}
					<dt>Forklar</dt>
					<dd>{{ soknad.tall_annen1_forklar }}</dd>
				{% endif %}
				<dt>Totale inntekter</dt>
				<dd>{{ soknad.tall_totale_inntekter }}</dd>
				<dt>Kontroll</dt>
				<dd>{{ soknad.tall_kontroll }}</dd>
				<dt>Administrasjon av prosjektet</dt>
				<dd>{{ soknad.tall_prosjekt_administrasjon }}</dd>
				<dt>Honorarer</dt>
				<dd>{{ soknad.tall_honorarer }}</dd>
				<dt>Leiekostnader</dt>
				<dd>{{ soknad.tall_leiekostnader }}</dd>
				<dt>Utstyr / rekvisita</dt>
				<dd>{{ soknad.tall_utstyr_rekvisita }}</dd>
				<dt>Reise / overnatting</dt>
				<dd>{{ soknad.tall_reise_overnatting }}</dd>
				<dt>Bespisning</dt>
				<dd>{{ soknad.tall_bespisning }}</dd>
				<dt>Annet</dt>
				<dd>{{ soknad.tall_annet }}</dd>
				{% if soknad.tall_annet_forklar is not empty %}
					<dt>Forklar</dt>
					<dd>{{ soknad.tall_annet_forklar }}</dd>
				{% endif %}
				<dt>Totale utgifter</dt>
				<dd>{{ soknad.tall_totale_utgifter }}</dd>
				<dt>Kommentarer</dt>
				<dd>{{ soknad.kommentar }}</dd>
				{% for upload in uploads %}
					{% if upload.submission_id == soknad.jotformID  %}
						<dt>Vedlegg</dt>
						<dd><a href="{{ upload.url|replace({'http': 'https'}) }}">{{ upload.name }}</a></dd>

					{% endif %}
				{% endfor %}	
				{% if soknad.vedlegg_beskrivelse is not empty %}
					<dt>Beskrivelse av vedleggene</dt>
					<dd>{{ soknad.vedlegg_beskrivelse }}</dd>
				{% endif %}
			</dl>

		<div class="container">
				<div class="left-col">
					<form method="POST" action="?page=UKMstimuleringsadmin_soknader">
						<input type="hidden" id="kommentarid" name="kommentarid" value="{{ soknad.soknadID }}">
						<div class="form-group" style="padding:12px;">
							{% if currentuserid == '1' %}
								<b>Kommentar fra {{ soknad.fylke }}:</b>
							{% else %}
								{% if soknad.fylke_sist_kommentert is not null %}
									Kommentar til søknaden
								{% endif %}
							{% endif %}
							<textarea id="fylkekommentar" name="fylkekommentar" class="form-control animated" placeholder="Skriv en kommentar til søknaden her">{{ soknad.fylke_kommentar|replace({'\\': ''}) }}</textarea>
							<input type="submit" class="btn btn-success" value="Send inn" id="submit">
						</div>
					</form>
				</div>
				{% if soknad.fylke_sist_kommentert is defined and soknad.fylke_sist_kommentert is not null %}
					<div class="right-col">
						Sist lagret:
						<p>
							{{ soknad.fylke_sist_kommentert is empty ? '' : soknad.fylke_sist_kommentert|date('d/m/Y \\k\\l\\.H:i') }}
						</p>
					</div>
				{% endif %}
		</div>
	</div>
	{% endif %}	
{% endif %}	
