<style>
body {
	color: #566787;
	background: #f5f5f5;
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
}
body > .container {
  padding-top: 40px;
  background-color: white;
}
.table-responsive {
    margin: 30px 0;
}

.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	border-radius: 3px;
	min-width: 1000px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
	padding-bottom: 15px;
	background: #435d7d;
	color: #fff;
	padding: 16px 30px;
	min-width: 50%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
	font-size: 24px;
}
.table-title-th {        
	padding-bottom: 15px;
	background: #778899;
	color: #fff;
	padding: 16px 30px;
	min-width: 40%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
	font-size: 18px;
}
.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}
tfoot {
	padding-bottom: 15px;
	background: LightSlateGray;
	color: #fff;
	padding: 16px 30px;
	min-width: 40%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
	font-size: 18px;
}
      dl {
        width: 100%;
        overflow: hidden;
        {# background: #dbe0da; #}
      }
dt {
	float: left;
	width: 26%;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.35;
  min-height: 40px;
  margin-bottom: 0;
  position: sticky;
  word-break: break-word;
}
dd {
  width: 60%;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 1.35;
  color: #000000;
  margin-bottom: 10;
  white-space: pre-wrap;
  word-break: break-word;
}

textarea {
  box-sizing: border-box;
  max-height: 160px; /* optional but recommended */
  min-height: 100px;
  min-width: 20%;
  max-width: 100%;
}
td.tall {
text-align: right;
}

.container {
   display: flex;
   justify-content: space-between;
}
.left-col {
   width: 78%;
}
.right-col {
   margin-top: 40px;
   width: 20%;
}
.qr {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.35;
  min-height: 40px;
  padding: 10px;
}
.aw {
  font-size: 16px; 
  font-weight: 400; 
  line-height: 1.35;
  color: #000000;
  padding: 10px;
  white-space: pre-line;
}
.qr-media {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2%;

}
.tall {
max-width: 10%;
text-align: right;
}
</style>
<script>
jQuery(document).ready(function () {
    jQuery('#soknader').DataTable({
        fixedHeader: {
            header: true,
            headerOffset: 35,
        },
		colReorder: false,
        paging: false,
        ordering: true,
        info: false,
		language: {
			search: "Søk:"
		},
        columnDefs: [
            {
                target: 4,
                render: DataTable.render.number(null, null, 0,),
            },
        ],
    });
});
         jQuery(document).ready(function(){
            jQuery('[data-toggle = "tooltip"]').tooltip();
         });
</script>
{% if soknad is empty %}
	<div class="container-xl">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-8">
							<h2><b>Søknadsrunde {{ gjeldenderunde.soknadsrunde_navn|slice(26, 50) }}</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ fylke }}</h2>
						</div>
					</div>
				</div>
				{% if currentuserid == '1' %}
					<table id="soknader" class="table table-striped table-hover order-column" style="width:100%">
						<thead>
							<tr>
								<th>Id</th>
								<th>Fylke</th>
								<th>Organisasjonsnavn</th>
								<th>Navn på prosjektet</th>
								<th>Beløp</th>
								<th>Prosjektansvarlig</th>
								<th>Kommentar fra fylke</th>
							</tr>
						</thead>
						<tbody>
							{% for soknad in soknader %}
								<tr onclick="window.location='?page=UKMstimuleringsadmin_soknader&soknadid={{ soknad.soknadID }}'">
									<td>{{ soknad.soknadID }}</td>
									<td>{{ soknad.fylke }}</td>
									<td>{{ soknad.organisasjonsnavn }}</td>
									<td>{{ soknad.prosjekt_navn }}</td>
									<td class="tall">{{ soknad.belop }}</td>
									<td>{{ soknad.prosjektansvarlig }}</td>
									<td>{% if soknad.fylke_sist_kommentert is empty %}
											<h7 style="color: red;">Nei </h7>
										{% else %}
											<h7 style="color: blue;">Lagt inn {{ soknad.fylke_sist_kommentert|date('\\k\\l\\.H:i d/m/Y') }} </h7>
									</td>
										{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<table id="soknader" class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Id</th>
								<th>Fylke</th>
								<th>Organisasjonsnavn</th>
								<th>Navn på prosjektet</th>
								<th>Prosjektansvarlig</th>
								<th>Kommentar lagt inn</th>
							</tr>
						</thead>
						<tbody>
							{% if visfylke.visfylke == 'on' %}
								{% for soknad in soknader %}
									<tr onclick="window.location='?page=UKMstimuleringsadmin_soknader&soknadid={{ soknad.soknadID }}'">
										<td>{{ soknad.soknadID }}</td>
										<td>{{ soknad.fylke }}</td>
										<td>{{ soknad.organisasjonsnavn }}</td>
										<td>{{ soknad.prosjekt_navn }}</td>
										<td>{{ soknad.prosjektansvarlig }}</td>
										<td>{% if soknad.fylke_sist_kommentert is empty %}
												<h7 style="color: red;">Nei </h7>
											{% else %}
												<h7 style="color: blue;">Ja </h7>
										</td>
											{% endif %}
									</tr>
								{% endfor %}
							{% endif %}	
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>        
	</div>

{% else %}
	<div class="container-xl pt-5">
		{% if visfylke.visfylke == 'on' or currentuserid == '1' %}
			<div class="row">
				<div class="qr col-lg-4">Innlevert</div>
				<div class="aw col-lg-6">{{ soknad.innlevert|date('d/m/Y \\k\\l\\.H:i') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Unik ID Nummer</div>
				<div class="aw col-lg-6">{{ soknad.soknadID }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Beløp de søker UKM Norge om</div>
				<div class="aw col-lg-6">{{ soknad.belop|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Organisasjonsnavn</div>
				<div class="aw col-lg-6">{{ soknad.organisasjonsnavn }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Gateadresse</div>
				<div class="aw col-lg-6">{{ soknad.gateadresse }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Postnummer</div>
				<div class="aw col-lg-6">{{ soknad.postnummer }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Poststed</div>
				<div class="aw col-lg-6">{{ soknad.poststed }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Fylke</div>
				<div class="aw col-lg-6">{{ soknad.fylke }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Søkers nettside</div>
				<div class="aw col-lg-6">{{ soknad.nettside }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Prosjektansvarlig</div>
				<div class="aw col-lg-6">{{ soknad.prosjektansvarlig }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Stilling</div>
				<div class="aw col-lg-6">{{ soknad.stilling }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Mobilnummer</div>
				<div class="aw col-lg-6">{{ soknad.mobilnr }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Epost</div>
				<div class="aw col-lg-6">{{ soknad.epost }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Har dere tidligere mottatt støtte fra UKM Norge?</div>
				<div class="aw col-lg-6">{{ soknad.tidligere }}</div>
			</div>
			{% if soknad.tidligere == 'ja' %}
				<div class="row">
					<div class="qr col-lg-4">Hva har dere mottatt støtte til tidligere?</div>
					<div class="aw col-lg-6">{{ soknad.tidligere_hva }}</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="qr col-lg-4">Navn på prosjektet</div>
				<div class="aw col-lg-6">{{ soknad.prosjekt_navn }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Prosjektet beskrevet med maks 200 tegn. (En kort pitch)</div>
				<div class="aw col-lg-6">{{ soknad.prosjekt_beskrivelse_kort }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Samarbeidspartnere</div>
				<div class="aw col-lg-6">{{ soknad.samarbeidspartnere }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Målgruppe</div>
				<div class="aw col-lg-6">{{ soknad.malgruppe }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Målgruppe alder</div>
				<div class="aw col-lg-6">{{ soknad.malgruppe_alder }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Stipulert antall deltakere</div>
				<div class="aw col-lg-6">{{ soknad.antall_deltakere }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Oppstartsdato</div>
				<div class="aw col-lg-6">{{ soknad.oppstartsdato|date('d/m/Y') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Rapportdato</div>
				<div class="aw col-lg-6">{{ soknad.oppstartsdato|date('d/m/Y') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Hva vil dere å oppnå med prosjektet?</div>
				<div class="aw col-lg-6">{{ soknad.prosjekt_oppnaelse }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Prosjektbeskrivelse</div>
				<div class="aw col-lg-6">{{ soknad.prosjekt_beskrivelse_lang }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">På hvilken måte kan prosjektet være til nytte for andre UKM-arrangører?</div>
				<div class="aw col-lg-6">{{ soknad.prosjekt_nytte }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">UKM Norge</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_ukmnorge|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Søkers egenandel</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_egenandel|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Tilskudd fylkeskommune</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_fylkeskommune|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Annen finansiering</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_annen1|number_format(0,' ',' ') }}</div>
			</div>
			{% if soknad.tall_annen1_forklar != '0' or soknad.tall_annen1_forklar is not null  %}
				<div class="row">
					<div class="qr col-lg-4">Forklar</div>
					<div class="aw col-lg-6">{{ soknad.tall_annen1_forklar }}</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="qr col-lg-4">Totale inntekter</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_totale_inntekter|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Kontroll</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_kontroll|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Administrasjon av prosjektet</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_prosjekt_administrasjon|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Honorarer</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_honorarer|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Leiekostnader</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_leiekostnader|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Utstyr / rekvisita</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_utstyr_rekvisita|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Reise / overnatting</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_reise_overnatting|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Bespisning</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_bespisning|number_format(0,' ',' ') }}</div>
			</div>
			<div class="row">
				<div class="qr col-lg-4">Annet</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_annet|number_format(0,' ',' ') }}</div>
			</div>
			{% if soknad.tall_annet_forklar is not empty %}
				<div class="row">
					<div class="qr col-lg-4">Forklar</div>
					<div class="aw col-lg-6">{{ soknad.tall_annet_forklar }}</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="qr col-lg-4">Totale utgifter</div>
				<div class="tall aw col-lg-6">{{ soknad.tall_totale_utgifter|number_format(0,' ',' ') }}</div>
			</div>
			{% if soknad.kommentar is not empty %}
				<div class="row">
					<div class="qr col-lg-4">Kommentarer</div>
					<div class="aw col-lg-6">{{ soknad.kommentar }}</div>
				</div>
			{% endif %}
			{% for upload in uploads %}
				{% if upload.submission_id == soknad.jotformID  %}
					<div class="row">
						<div class="qr col-lg-4">Vedlegg</div>
						<div class="aw col-lg-6"><a href="{{ upload.url|replace({'http': 'https'}) }}">{{ upload.name }}</a></div>
					</div>
				{% endif %}
			{% endfor %}
			{% if soknad.vedlegg_beskrivelse is not empty %}
				<div class="row">
					<div class="qr col-lg-4">Beskrivelse av vedleggene</div>
					<div class="aw col-lg-6">{{ soknad.vedlegg_beskrivelse }}</div>
				</div>
			{% endif %}


			<div class="container">
					<div class="left-col">
						<form method="POST" action="?page=UKMstimuleringsadmin_soknader">
							<input type="hidden" id="kommentarid" name="kommentarid" value="{{ soknad.soknadID }}">
							<div class="form-group" style="padding:12px;">
								{% if currentuserid == '1' %}
									<b>Kommentar fra {{ soknad.fylke }}:</b>
								{% else %}
									{% if soknad.fylke_sist_kommentert is not null %}
										Kommentar til søknaden
									{% endif %}
								{% endif %}
								<textarea id="fylkekommentar" name="fylkekommentar" class="form-control animated" placeholder="Skriv en kommentar til søknaden her">{{ soknad.fylke_kommentar|replace({'\\': ''}) }}</textarea>
								<input type="submit" class="btn btn-success" value="{{ soknad.fylke_sist_kommentert is empty ? 'Lagre' : 'Lagre endringer' }}" id="submit">
							</div>
						</form>
					</div>
					{% if soknad.fylke_sist_kommentert is defined and soknad.fylke_sist_kommentert is not null %}
						<div class="right-col">
							Sist lagret:
							<p>
								{{ soknad.fylke_sist_kommentert is empty ? '' : soknad.fylke_sist_kommentert|date('d/m/Y \\k\\l\\.H:i') }}
							</p>
						</div>
					{% endif %}
			</div>
		{% endif %}
	</div>	
{% endif %}	
